.search-container{
    background-color: rgba(12, 9, 12, 0.37);
    text-align: center;
}
.search-container input{
    width: 75%;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightskyblue;
    margin-right: 5px;
    margin-left: 50px;
}